{
  "presets": [
      "es2015",
      "react",
  ],
  "plugins": [
    "transform-es2015-template-literals",
    "transform-es2015-modules-commonjs",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "transform-regenerator",
  ],
}
